
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/header::#header"></div>

<body>
<div th:replace="fragments/topbar::#topbar"></div>

<div id="layoutSidenav">
  <div th:replace="fragments/sidebar::#layoutSidenav_nav"></div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">📊 Thống kê tổng quan</h1>
        <!--                <ol class="breadcrumb mb-4">-->
        <!--                    <li class="breadcrumb-item active">Dashboard</li>-->
        <!--                </ol>-->

        <!-- Dashboard Cards -->
        <div class="dashboard" style="display: flex; justify-content: center; gap: 20px; margin-top:50px">
          <div class="card">
            <h3>👤 Người dùng</h3>
            <p th:text="${totalUsers}">0</p>
          </div>
          <div class="card">
            <h3>📚 Sách</h3>
            <p th:text="${totalBooks}">0</p>
          </div>
          <div class="card">
            <h3>📥 Lượt mượn</h3>
            <p th:text="${totalBorrows}">0</p>
          </div>
        </div>

      </div>
    </main>
    <div th:replace="fragments/footer::#footer"></div>
  </div>
</div>
<!--<div th:if="${success}"-->
<!--     class="alert alert-success"-->
<!--     style="position: fixed; top: 100px; right: 20px; z-index: 1050; min-width: 250px; box-shadow: 0 0 10px rgba(0,0,0,0.3);"-->
<!--     th:text="${success}">-->
<!--</div>-->
<!--<div th:if="${error}"-->
<!--     class="alert alert-danger"-->
<!--     style="position: fixed; top: 100px; right: 20px; z-index: 1050; min-width: 250px; box-shadow: 0 0 10px rgba(0,0,0,0.3);"-->
<!--     th:text="${error}">-->
<!--</div>-->
<style>
  .card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 8px #ddd;
  }
</style>
</body>
</html>
