<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sinh viên</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h2>Danh sách sinh viên</h2>
    <table>
        <thead>
        <tr>
            <th>MSSV</th>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentModelList}">
            <td th:text="${student.mssv}"></td>
            <td th:text="${student.hoTen}"></td>
            <td th:text="${student.gioiTinh} ? 'Nam' : 'Nữ'"></td>
            <td th:text="${student.namSinh}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>